<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.github.quarck.calnotify"
          xmlns:android="http://schemas.android.com/apk/res/android"
          android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_CALENDAR"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".GlobalState"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/main_activity_title"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings_name"
            android:parentActivityName=".ui.MainActivity">
        </activity>

        <activity
            android:name=".ui.HelpAndFeedbackActivity"
            android:label="@string/help_feedback"
            android:parentActivityName=".ui.MainActivity">
        </activity>

        <activity
            android:name=".ui.SnoozeActivity"
            android:label="@string/title_activity_activity_snooze"
            android:theme="@android:style/Theme.Holo.NoActionBar"
            android:noHistory="true"
            android:excludeFromRecents="true"
            >
        </activity>

        <activity
            android:name=".ui.CalendarsActivity"
            android:label="@string/title_calendars_activity"
            android:parentActivityName=".ui.SettingsActivity">
            >
            <intent-filter>
                <action android:name="com.github.quarck.calnotify.ui.CalendarsActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.TestButtonsAndToDoActivity"
            android:label="@string/title_activity_activity_test_buttons_and_to_do">
        </activity>

        <service android:name=".notification.NotificationActionDismissService"/>

        <service android:name=".ui.UINotifierService"/>

        <receiver android:name=".broadcastreceivers.AppUpdatedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".broadcastreceivers.BootCompleteBroadcastReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.QUICKBOOT_POWERON"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".broadcastreceivers.EventReminderBroadcastReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.EVENT_REMINDER"/>

                <data android:mimeType="vnd.android.cursor.item/calendar-alert"/>
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.EVENTEX_REMINDER"/>

                <data android:mimeType="vnd.android.cursor.item/calendarEx-alert"/>
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.EVENT_REMINDER"/>

                <data android:scheme="content"/>
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.EVENT_REMINDER"/>

                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="vnd.android.cursor.item/calendar_alert_time"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".broadcastreceivers.CalendarChangedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED"/>

                <data android:scheme="content"/>
                <data android:host="com.android.calendar"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".broadcastreceivers.AlarmBroadcastReceiver"/>

        <receiver android:name=".broadcastreceivers.ReminderAlarmBroadcastReceiver"/>

        <receiver android:name=".broadcastreceivers.TimeSetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

     </application>

</manifest>
