<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.github.quarck.calnotify"
    android:installLocation="internalOnly">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />
    <!-- For HTC -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>

    <application
        android:name=".GlobalState"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/main_activity_title"
            android:theme="@style/AppTheme.NoActionBar"
			android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/settings_name"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ui.ReportABugActivity"
            android:label="@string/help_feedback"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ViewEventActivityNoRecents"
            android:excludeFromRecents="true"
            android:label="@string/view_event"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.ViewEventActivity"
            android:label="@string/view_event"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:launchMode="singleTask"
            />

        <activity
            android:name=".ui.SnoozeAllActivity"
            android:label="@string/snooze_all"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".prefs.CalendarsActivity"
            android:label="@string/title_calendars_activity"
            android:parentActivityName=".ui.SettingsActivityNew"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="com.github.quarck.calnotify.prefs.CalendarsActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.TestActivity"
            android:label="@string/title_activity_activity_test_buttons_and_to_do"
            android:theme="@style/AppTheme.NoActionBar"
            />
        <activity
            android:name=".ui.AboutActivity"
            android:label="@string/menu_about"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.DismissedEventsActivity"
            android:label="@string/dismissed_events"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ui.PrivacyPolicyActivity"
            android:label="@string/title_activity_privacy_policy"
            android:parentActivityName=".ui.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".ui.EditEventActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ui.MainActivity"
            android:label="@string/empty"
            />

        <activity
            android:name=".ui.EditEventActivityTextReceiver"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ui.MainActivity"
            android:label="@string/create_event"
            >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <!--<activity android:name=".ui.SettingsActivityNew"-->
            <!--android:label="@string/settings_name"-->
            <!--android:parentActivityName=".ui.MainActivity"-->
            <!--android:theme="@style/AppTheme"-->
            <!--/>-->

        <!--<activity android:name=".prefs.activities.BehaviorSettingsActivity"-->
            <!--android:parentActivityName=".ui.SettingsActivityNew"-->
            <!--android:theme="@style/AppTheme"-->
            <!--android:label="@string/app_behavior"-->
            <!--/>-->
        <!--<activity android:name=".prefs.activities.MiscSettingsActivity"-->
            <!--android:parentActivityName=".ui.SettingsActivityNew"-->
            <!--android:theme="@style/AppTheme"-->
            <!--android:label="@string/misc_settings"-->
            <!--/>-->
        <!--<activity android:name=".prefs.activities.NotificationSettingsActivity"-->
            <!--android:parentActivityName=".ui.SettingsActivityNew"-->
            <!--android:theme="@style/AppTheme"-->
            <!--android:label="@string/notification_settings"-->
            <!--/>-->
        <!--<activity android:name=".prefs.activities.QuietHoursSettingsActivity"-->
            <!--android:parentActivityName=".ui.SettingsActivityNew"-->
            <!--android:label="@string/quiet_hours_section"-->
            <!--android:theme="@style/AppTheme"-->
            <!--/>-->
        <!--<activity android:name=".prefs.activities.SnoozeSettingsActivity"-->
            <!--android:parentActivityName=".ui.SettingsActivityNew"-->
            <!--android:theme="@style/AppTheme"-->
            <!--android:label="@string/snooze_presets"-->
            <!--/>-->

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.github.quarck.calnotify.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <service android:name=".calendarmonitor.CalendarMonitorService" />
        <!--<service android:name=".calendarmonitor.CalendarMonitorService" />-->
        <!--<service android:name=".calendarmonitor.CalendarMonitorOneTimeJobService"-->
            <!--android:permission="android.permission.BIND_JOB_SERVICE"/>-->
        <!--<service android:name=".calendarmonitor.CalendarMonitorPeriodicJobService"-->
            <!--android:permission="android.permission.BIND_JOB_SERVICE"/>-->
        <service android:name=".notification.NotificationActionDismissService" />
        <service android:name=".notification.NotificationActionSnoozeService" />
        <service android:name=".notification.NotificationActionMuteToggleService" />

        <receiver android:name=".broadcastreceivers.AppUpdatedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".broadcastreceivers.BootCompleteBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <!-- Well, HTC -->
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <!-- Well, OLD HTC -->
                <action android:name="android.intent.action.REBOOT" />
                <!-- Well, MIUI -->

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceivers.EventReminderBroadcastReceiver">
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.EVENT_REMINDER" />

                <data android:mimeType="vnd.android.cursor.item/calendar-alert" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.EVENTEX_REMINDER" />

                <data android:mimeType="vnd.android.cursor.item/calendarEx-alert" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.EVENT_REMINDER" />

                <data android:scheme="content" />
            </intent-filter>
            <intent-filter android:priority="2147483647">
                <action android:name="android.intent.action.EVENT_REMINDER" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="vnd.android.cursor.item/calendar_alert_time" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceivers.CalendarChangedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PROVIDER_CHANGED" />

                <data android:scheme="content" />
                <data android:host="com.android.calendar" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceivers.SnoozeAlarmBroadcastReceiver" />
        <receiver android:name=".broadcastreceivers.ReminderAlarmBroadcastReceiver" />
        <receiver android:name=".broadcastreceivers.ManualEventAlarmBroadcastReceiver" />
        <receiver android:name=".broadcastreceivers.SnoozeExactAlarmBroadcastReceiver" />
        <receiver android:name=".broadcastreceivers.ReminderExactAlarmBroadcastReceiver" />
        <receiver android:name=".broadcastreceivers.ManualEventExactAlarmBroadcastReceiver" />
        <receiver android:name=".broadcastreceivers.ManualEventAlarmPeriodicRescanBroadcastReceiver" />
        <receiver android:name=".broadcastreceivers.TimeSetBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceivers.RemoteCommandBroadcastReceiver"
            tools:ignore="ExportedReceiver">
            <intent-filter>
                <action android:name="com.github.quarck.calnotify.remote_mute_all" />
            </intent-filter>
        </receiver>

    </application>

</manifest>